.footer-background {
  background-color: rgb(204, 199, 199);
}
.Title {
  padding: 0;
  margin: 0;
  width: 99% !important;
  height: auto;
}
#closee {
  cursor: pointer;
}
@media (max-width: 991px) {
  #heading {
    padding-left: 50px;
  }

  #prc {
    margin-left: 70px;
    padding-left: 110px;
  }

  #quantity {
    padding-left: 48px;
  }

  #produc {
    padding-left: 40px;
  }

  #total {
    padding-left: 54px;
  }
}

.Yorder {
  margin-top: 15px;
  height: auto;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid #dadada;
}
.table {
  margin: 0;
  padding: 0;
}
.th {
  border-bottom: 1px solid #dadada;
  padding: 10px 0;
}
.tr > td:nth-child(1) {
  text-align: left;
  color: #2d2d2a;
}
.tr > td:nth-child(2) {
  text-align: right;
  color: #52ad9c;
}
.td {
  border-bottom: 1px solid #dadada;
  padding: 25px 25px 25px 0;
}

.p {
  display: block;
  color: #888;
  margin: 0;
  padding-left: 25px;
}
.Yorder > div {
  padding: 15px 0;
}

.button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background: #52ad9c;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
.button:hover {
  cursor: pointer;
  background: #428a7d;
}

@media (max-width: 767px) {
  .mobile {
    font-size: 10px;
  }

  #h5 {
    font-size: 14px;
  }

  .h6 {
    font-size: 9px;
  }

  #mobile_font {
    font-size: 11px;
  }

  #prc {
    font-weight: 700;
    margin-left: -45px;
    padding-left: 105px;
  }

  #quantity {
    font-weight: 700;
    padding-left: 6px;
  }

  #produc {
    font-weight: 700;
    padding-left: 0px;
  }

  #total {
    font-weight: 700;
    padding-left: 9px;
  }

  #image {
    width: 60px;
    height: 60px;
  }

  .col {
    width: 100%;
  }

  #zero_pad {
    padding: 2%;
    margin-left: 10px;
  }

  #footer-font {
    font-size: 12px;
  }

  #heading {
    padding-top: 15px;
  }
}
